.bordered {
  border-top: solid 1px black;
  border-left: solid 1px black;
  border-right: solid 1px black;
  border-bottom: solid 1px black;
}
.alc-docs-nav {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
  background-color: #102d35;
  border-color: #102d35;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
}
.alc-docs-nav .navbar-nav > .active > a,
.alc-docs-nav .navbar-nav > .active > a:hover {
  color: #fff;
  background-color: #0a1518;
}
.alc-docs-nav .navbar-nav > li > a:hover {
  background-color: #102d35;
  color: #fff;
}
.alc-docs-header {
  padding: 30px 15px 40px;
  font-size: 16px;
  text-align: center;
  background-color: #102d35;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}
.alc-docs-sidenav {
  width: 200px;
  margin: 20px 0 0;
  padding: 0;
  background-color: #e7f1ff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0, 0;
  -moz-box-shadow: 0, 0;
  -webkit-box-shadow: 0, 0;
}
.alc-docs-sidenav > li > a {
  display: block;
  margin: 0 0 0;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.alc-docs-sidenav > li > a:hover,
.alc-docs-sidenav > li > a:focus {
  text-decoration: none;
  background-color: #e5e3e9;
  border-right: 1px solid #dbd8e0;
}
.alc-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  -ms-border-radius: 6px 6px 0 0;
  -o-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}
.alc-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  -ms-border-radius: 0 0 6px 6px;
  -o-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}
.alc-docs-sidenav > .active:hover > a,
.alc-docs-sidenav > .active:focus > a {
  font-weight: bold;
  color: #563d7c;
  background-color: transparent;
  border-right: 1px solid #563d7c;
}
.alc-docs-sidenav > .active a {
  font-weight: bold;
  color: #563d7c;
  background-color: transparent;
  border-right: 1px solid #563d7c;
}
.alc-docs-sidenav .glyphicon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.alc-docs-sidenav.affix {
  position: static;
}
.alc-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 280px;
}
.alc-docs-sidebar.affix {
  position: fixed;
  top: 50px;
}
.alc-docs-separator {
  margin: 40px 0 39px;
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */

  margin: 0 auto -60px;
  padding: 0 0 60px 0;
}
#wrap #mainContent {
  padding-top: 50px;
}
#footer {
  height: 50px;
}
