// Used for docs

// local-variables
@sidenav-width: 200px;
@deep-purple: #7C3D65;
@light-purple: #563D7C;
@gray-purple: #E2CECE;

// imports
@import "app-common.less";

// classes
.alc-docs-nav {
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .15);
	background-color: @deep-purple;
	border-color: #463265;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .1);
}

.alc-docs-header {
	padding: 30px 15px 40px;
	font-size: 16px;
	text-align: center;
	background-color: @deep-purple;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .15);

}

.alc-docs-sidenav {
	width: @sidenav-width;
	margin: 20px 0 0;
	padding: 0;
	background-color: @gray-purple;
	.rounded-corner;
	.box-shadow;
	> li {
		> a {
			display: block;
			//width: 200px;
			margin: 0 0 0;
			padding: 8px 14px;
			border: 1px solid #e5e5e5;
			&:hover, &:focus {
				text-decoration: none;
  				background-color: #e5e3e9;
  				border-right: 1px solid #dbd8e0;
			}
		}
		&:first-child {
			>a {
				.rounded-corner(6px 6px 0 0);
			}
		}
		&:last-child {
			>a {
				.rounded-corner(0 0 6px 6px);
			}
		}
	}

	// .active
	> .active {
		&:hover, &:focus {
			> a {
				font-weight: bold;
				color: #563d7c;
				background-color: transparent;
				border-right: 1px solid #563d7c;
			}
		}
		a {
			font-weight: bold;
			color: #563d7c;
			background-color: transparent;
			border-right: 1px solid #563d7c;
		}
		// > a {
		// 	position: relative;
		// 	z-index: 2;
		// 	padding: 9px 15px;
		// 	border: 0;
		// 	text-shadow: 0 1px 0 rgba(0,0,0,.15);
		// 	.box-shadow(inset 1px 0 0 rgba(0, 0, 0, .1), inset -1px 0 0 rgba(0, 0, 0, .1));
		// }
	}

	// chevrons
	.glyphicon-chevron-right {
		float: right;
		margin-top: 2px;
		margin-right: -6px;
		opacity: .25;
	}

	// centralize text content on your screen
	&.affix {
		position: static;
	}
	&.affix-bottom {
		position: absolute;
		top: auto;
		bottom: 280px;
	}
}

// side bar
.alc-docs-sidebar {
	&.affix {
		position: fixed;
		top: 80px;
	}
}

// hrs
.alc-docs-separator {
	margin: 40px 0 39px;
}


