<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
     http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<!-- 
	<http pattern="/images/**" security="none" />
	<http pattern="/styles/**" security="none" />
	 -->
	
	<!-- ********************************** --> 
	<!-- HTTP configuration sample:disabled	-->
	<!-- ********************************** -->
	<http auto-config="false" entry-point-ref="loginUrlAuthenticationEntryPoint">

		<intercept-url pattern="/**"
			access="IS_AUTHENTICATED_ANONYMOUSLY" />
			
		<!--
		<form-login login-page="/public/login.zul"
			authentication-failure-url="/public/login.zul?login_error=1"
			login-processing-url="/public/j_spring_security_check"
			default-target-url="/forum/index.zul" />
		<logout logout-success-url="/index.zul" invalidate-session="true" />
		<access-denied-handler error-page="/WEB-INF/errors/handler/accessDeniedHandler.zul" /> 
		-->
		<!-- ******************************************	-->
		<!-- App Customized(marked with "*") Filters:	-->
		<!-- *FIRST (Integer.MIN_VALUE),				-->
	    <!-- CHANNEL_FILTER,							-->
	    <!-- SECURITY_CONTEXT_FILTER,					-->
	    <!-- CONCURRENT_SESSION_FILTER,					-->
	    <!-- *LOGOUT_FILTER,							-->
	    <!-- X509_FILTER,								-->
	    <!-- PRE_AUTH_FILTER,							-->
	    <!-- CAS_FILTER,								-->
	    <!-- *FORM_LOGIN_FILTER,						-->
	    <!-- OPENID_FILTER,								-->
	    <!-- LOGIN_PAGE_FILTER,							-->
	    <!-- DIGEST_AUTH_FILTER,						-->
	    <!-- BASIC_AUTH_FILTER,							-->
	    <!-- REQUEST_CACHE_FILTER,						-->
	    <!-- SERVLET_API_SUPPORT_FILTER,				-->
	    <!-- JAAS_API_SUPPORT_FILTER,					-->
	    <!-- REMEMBER_ME_FILTER,						-->
	    <!-- ANONYMOUS_FILTER,							-->
	    <!-- SESSION_MANAGEMENT_FILTER,					-->
	    <!-- EXCEPTION_TRANSLATION_FILTER,				-->
	    <!-- FILTER_SECURITY_INTERCEPTOR,				-->
	    <!-- SWITCH_USER_FILTER,						-->
	    <!-- *LAST (Integer.MAX_VALUE);					-->
		<!-- ********************************** 		-->
<!-- 		<custom-filter ref="jCaptchaFilter" after="LAST"/> -->
		<custom-filter ref="saeLogoutFilter" position="LOGOUT_FILTER"/>
		<custom-filter ref="saeUsernamePasswordAuthenticationFilter" position="FORM_LOGIN_FILTER"/>
		<custom-filter ref="saeFilterSecurityInterceptor" before="LAST"/>
		<access-denied-handler error-page="/WEB-INF/errors/handler/accessDeniedHandler.zul"/>
		<remember-me />
		<!-- <session-management invalid-session-url="/timeout.zul"> <concurrency-control 
			max-sessions="1" error-if-maximum-exceeded="true" /> </session-management> -->
				
	</http>
	
	<!-- *********************************** -->
	<!-- Customize FilterSecurityInterceptor -->
	<!-- *********************************** -->
	<beans:bean id="saeFilterSecurityInterceptor" 
		class="org.alc.sae.ss.web.filter.SaeFilterSecurityInterceptor">
		<beans:property name="authenticationManager" ref="authenticationManager"/>
		<beans:property name="accessDecisionManager" ref="affirmativeBased"/>
		<beans:property name="securityMetadataSource">
			<filter-security-metadata-source path-type="ant">
				<intercept-url pattern="/jcaptcha.jpg" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
				<intercept-url pattern="/images/**" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
				<intercept-url pattern="/styles/**" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
				<intercept-url pattern="/zkau/**" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
				<intercept-url pattern="/public/**" access="ROLE_ANONYMOUS"/>
				<intercept-url pattern="/zkau/**" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
				<intercept-url pattern="/index.*" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
				
				<intercept-url pattern="/public/login.zul" access="ROLE_ANONYMOUS"/>
				<intercept-url pattern="/public/registration.zul" access="ROLE_ANONYMOUS"/>
				<intercept-url pattern="/public/j_spring_security_check" access="ROLE_ANONYMOUS"/>
				
				<intercept-url pattern="/mgmt/**" access="ROLE_ROOT"/>
				<intercept-url pattern="/**" access="ROLE_USER"/>
			</filter-security-metadata-source>
		</beans:property>
	</beans:bean>
	
	<!-- Error Handler Beans
	<beans:bean id="zkAccessDeniedHandler" class="org.alc.zk.ZkAccessDeniedHandler">
		<beans:property name="errorPage" value="/WEB-INF/errors/viewer/accessDenied.zul"/>
	</beans:bean>
	 -->
	 
	<!-- **********************************	-->
	<!-- 	Customize FORM_LOGIN_FILTER 	-->
	<!-- ********************************** -->
<!-- 	<beans:bean id="jCaptchaFilter" class="org.alc.web.filter.JCaptchaFilter"> -->
<!-- 		<beans:property name="filterProcessesUrl" value="/jcaptcha.jpg"/> -->
<!-- 		<beans:property name="captchaService" ref="captchaService"/> -->
<!-- 	</beans:bean> -->
	 
	<!-- **********************************	-->
	<!-- 	Customize FORM_LOGIN_FILTER 	-->
	<!-- ********************************** -->
	<beans:bean id="loginUrlAuthenticationEntryPoint"
		class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
		<beans:property name="loginFormUrl" value="/public/login.zul"/>
	</beans:bean>
	<beans:bean id="saeUsernamePasswordAuthenticationFilter"
		class="org.alc.sae.ss.web.filter.SaeUsernamePasswordAuthenticationFilter">
		<beans:property name="authenticationManager" ref="authenticationManager"/>
		<beans:property name="authenticationFailureHandler" ref="authenticationFailureHandler"/>
		<beans:property name="authenticationSuccessHandler" ref="authenticationSuccessHandler"/>
		<beans:property name="filterProcessesUrl" value="/public/j_spring_security_check"/>
	</beans:bean>
	<beans:bean id="authenticationFailureHandler"
		class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler">
		<beans:property name="defaultFailureUrl" value="/public/login.zul?login_error=1"/>
	</beans:bean>
	<beans:bean id="authenticationSuccessHandler"
		class="org.springframework.security.web.authentication.SavedRequestAwareAuthenticationSuccessHandler">
		<beans:property name="defaultTargetUrl" value="/forum/index.zul"/>
	</beans:bean>


	<!-- ********************************** -->
	<!-- 		Customize LOGOUT_FILTER 	-->
	<!-- ********************************** -->
	<beans:bean id="saeLogoutFilter" class="org.alc.sae.ss.web.filter.SaeLogoutFilter">
		<beans:constructor-arg name="logoutSuccessUrl" value="/index.zul"/>
		<beans:constructor-arg name="handlers">
			<beans:list>
				<beans:ref bean="securityContextLogoutHandler"/>
			</beans:list>
		</beans:constructor-arg>
		<beans:property name="filterProcessesUrl" value="/j_spring_security_logout"/>
	</beans:bean>
	<beans:bean id="securityContextLogoutHandler"
		class="org.springframework.security.web.authentication.logout.SecurityContextLogoutHandler">
		<beans:property name="invalidateHttpSession" value="true"/>
	</beans:bean>
	
	
	<!-- ********************************** -->
	<!-- 		AuthenticationManager 		-->
	<!-- ********************************** -->
	<authentication-manager alias="authenticationManager">
		<authentication-provider user-service-ref="myUserDetailsService">
			<password-encoder hash="md5" />
		</authentication-provider>
	</authentication-manager>



	<!-- Customize Access Decision Manager(AffirmativeBased is the default one) -->
	<beans:bean id="affirmativeBased" class="org.springframework.security.access.vote.AffirmativeBased">
		<beans:property name="decisionVoters">
			<beans:list>
				<beans:ref bean="roleVoter"/>
				<beans:ref bean="authenticatedVoter"/>
			</beans:list>
		</beans:property>
	</beans:bean>
	
	<!-- Role Voter -->
	<beans:bean id="roleVoter"
		class="org.springframework.security.access.vote.RoleHierarchyVoter">
		<beans:constructor-arg ref="roleHierarchy" />
	</beans:bean>
	<beans:bean id="roleHierarchy"
		class="org.springframework.security.access.hierarchicalroles.RoleHierarchyImpl">
		<beans:property name="hierarchy">
			<beans:value>
				ROLE_ROOT > ROLE_ADMIN
				ROLE_ADMIN > ROLE_SUPER
				ROLE_SUPER > ROLE_MANAGER
				ROLE_MANAGER > ROLE_USER
			</beans:value>
		</beans:property>
	</beans:bean>
	
	<!-- Authenticated Voter -->
	<beans:bean id="authenticatedVoter" class="org.springframework.security.access.vote.AuthenticatedVoter"/>	
		
	<!-- ********************************** -->
	<!-- 		Customize Message Source 	-->
	<!-- ********************************** -->
	<beans:bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<beans:property name="basename" value="org/springframework/security/messages" />
	</beans:bean>
</beans:beans>