<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
     http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">


	<http pattern="/images/**" security="none" />
	<http pattern="/styles/**" security="none" />

	<!-- HTTP configuration sample -->
	<http access-decision-manager-ref="affirmativeBased">
		<!-- ZK AU reqeust -->
		<intercept-url pattern="/zkau/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		
		<!-- the login page: ANONYMOUSE ONLY -->		
		<intercept-url pattern="/public/login.zul" access="ROLE_ANONYMOUS" />
		<intercept-url pattern="/public/registration.zul"
			access="ROLE_ANONYMOUS" />
			<intercept-url pattern="/public/j_spring_security_check" access="ROLE_ANONYMOUS" />
		<!-- the login page:IS_AUTHENTICATED_ANONYMOUSLY -->
		<!-- pages for anonymous access in an application -->
		<intercept-url pattern="/index.zul" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url pattern="/public/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<!-- secure pages -->
		<intercept-url pattern="/**"
			access="ROLE_USER" />

		<form-login login-page="/public/login.zul"
			authentication-failure-url="/public/login.zul?login_error=1"
			login-processing-url="/public/j_spring_security_check"
			default-target-url="/forum/index.zul" />

		<logout logout-success-url="/index.zul" invalidate-session="true" />
		<remember-me />

		<!-- <session-management invalid-session-url="/timeout.zul"> <concurrency-control 
			max-sessions="1" error-if-maximum-exceeded="true" /> </session-management> -->

		<access-denied-handler error-page="/" />
		

	</http>


	<!-- omit inactive configurations -->

	<authentication-manager>
		<authentication-provider user-service-ref="myUserDetailsService">
			<password-encoder hash="md5" />
		</authentication-provider>
	</authentication-manager>

	<!-- Customize Access Decision Maker(AffirmativeBased is the default one) -->
	<beans:bean id="affirmativeBased" class="org.springframework.security.access.vote.AffirmativeBased">
		<beans:property name="decisionVoters">
			<beans:list>
				<beans:ref bean="roleVoter"/>
				<beans:ref bean="authenticatedVoter"/>
			</beans:list>
		</beans:property>
	</beans:bean>
	
	<!-- Role Voter -->
	<beans:bean id="roleVoter"
		class="org.springframework.security.access.vote.RoleHierarchyVoter">
		<beans:constructor-arg ref="roleHierarchy" />
	</beans:bean>
	<beans:bean id="roleHierarchy"
		class="org.springframework.security.access.hierarchicalroles.RoleHierarchyImpl">
		<beans:property name="hierarchy">
			<beans:value>
				ROLE_ROOT > ROLE_ADMIN
				ROLE_ADMIN > ROLE_SUPER
				ROLE_SUPER > ROLE_USER
			</beans:value>
		</beans:property>
	</beans:bean>
	
	<!-- Authenticated Voter -->
	<beans:bean id="authenticatedVoter" class="org.springframework.security.access.vote.AuthenticatedVoter"/>
	
	<!-- Customize Message Source -->
	<beans:bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<beans:property name="basename" value="org/springframework/security/messages" />
	</beans:bean>
</beans:beans>